
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">

      <h1>Problemas</h1>

      <table border="1" >
        <tr>
          <th>Title</th>
          <th>description</th>
          <th>Open</th>
          <th></th>
        </tr>
      <% @problems.each do |problem| %>
          <tr>
            <td><%= problem.title %></td>
            <td><%= problem.description %></td>
            <td><%= problem.open %></td>
            <td><%= link_to "Ver", problem_path(problem), class:"btn btn-primary" %></td>

          </tr>

      <% end %>
      </table>




    </div>

  </div>

</div>
